<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, Balázs Agócs, CSE 340 App</p>
  <p><a href="/trigger">Intentional 500 error trigger</a></p>
</footer>