<h1>Welcome to CSE Motors!</h1>

<div id="carPic">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean">
    <div class="carPic_float">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders<br>
        Superman doors<br>
        Fuzzy dice!</p>
        <span class="carPic_button">
            <a title="Own Today" href="/buy">Own Today</a>
        </span>
    </div>
</div>

<div id="carWrapper">
    <div id="carReview">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and lovin it!" (5/5)</li>
        </ul>
    </div>
    <div id="carUpgrades">
        <h2>DMC Delorean Upgrades</h2>
        <div id="carUpgrade_grid">
            <div class="carUpgrade">
                <a title="Flux Capacitor" href="/upgrades/flux-cap">
                    <span class="carUpgrade_icon"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"></span>
                    <span class="carUpgrade_link">Flux Capacitor</span>
                </a>
            </div>
            <div class="carUpgrade">
                <a title="Flame Decals" href="/upgrades/flame">
                    <span class="carUpgrade_icon"><img src="/images/upgrades/flame.jpg" alt="Flame Decals"></span>
                    <span class="carUpgrade_link">Flame Decals</span>
                </a>
            </div>
            <div class="carUpgrade">
                <a title="Bumper Stickers" href="/upgrades/bumper-sticker">
                    <span class="carUpgrade_icon"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></span>
                    <span class="carUpgrade_link">Bumper Stickers</span>
                </a>
            </div>
            <div class="carUpgrade">
                <a title="Hub Caps" href="/upgrades/hub-cap">
                    <span class="carUpgrade_icon"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"></span>
                    <span class="carUpgrade_link">Hub Caps</span>
                </a>
            </div>
        </div>
    </div>
</div>