/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*note: black: #04060D; darkblue: #143AA2; light blue: #3E8DE3; */


/***** Body *****/

body {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  color: #04060D;
  max-width: 820px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #04060D;
}

a:hover {color: #143AA2;}

p.error {
  color: red; 
  text-transform: uppercase; 
  text-align: center;
  font-weight: bold;
}

/***** Header *****/

header {display: inline; padding: 5px;}
header a { color: #04060D;}
header a:hover {color: #143AA2;}
header span.siteName a {font-size: 2em; font-weight: bold;}
header div#tools {display: inline; float: right; padding-right: 5px;}
header div#tools a {text-transform: capitalize;}

/***** Nav *****/

nav ul {
  padding: 0px;
  list-style: none;
  display: flex;
  background-color: #04060D;}
nav li {
  padding: 5px; 
  width: 20%; 
  flex: 1;
  text-align: center;
  color: #fff;}

  nav li:hover {
    background-color: #fff;
    border-bottom: 3px solid #3E8DE3;
    border-right: 3px solid #3E8DE3;
    }

nav li a { color: #fff;}

nav li:hover a {color: #04060D;}

/***** Main *****/

main {padding: 5px;}

main h1 {font-size: 1.5em; text-align: center;}
main h2 {font-size: 1.2em;}

div#carPic {position: relative;}
div#carPic img {width: 100%;}
div.carPic_float {
  float: left;
       position: absolute;
       left: 0px;
       top: 0px;
       z-index: 1000;
       background-color: rgba(240, 240, 240, 0.5);
       color: #143AA2;
}

div.carPic_float h2 {margin: 0;}
div.carPic_float p {margin: 0 0 10px 0;}

div.carPic_float span.carPic_button {
  background-color: #143AA2;
  padding: 10px;
  display: inline-block;}
div.carPic_float span.carPic_button a {color:#fff;}

div.carPic_float span.carPic_button:hover {
  background-color: #fff;
  border-bottom: 3px solid #3E8DE3;
  border-right: 3px solid #3E8DE3;}
div.carPic_float span.carPic_button:hover a {color: #04060D;}


div#carReview ul {padding-inline-start: 20px;}
div#carReview ul > li {line-height: 2em;}

div#carUpgrade_grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;}

div.carUpgrade {
  width: 47%;
  margin: 5px;
  text-align: center;
}

div.carUpgrade span.carUpgrade_icon {
  display: block;
  background-color: #3E8DE3;
  padding: 10px;
  height: 100px;}

div.carUpgrade a:hover span.carUpgrade_icon {
  display: block;
  background-color: #fff;
  border-bottom: 3px solid #3E8DE3;
  border-right: 3px solid #3E8DE3;}

div.carUpgrade a:hover {color:#04060D;}

div#inv-display { 
  display: flex;
  text-align: center;
}

div#inv-display ul {
  max-width: 750px;
  list-style-type: none; 
  padding: 0; 
  margin: auto;
}

div#inv-display li {
  width: 250px; 
  display: inline-block;
  text-align: left;
  padding-bottom: 10px;
}

div#inv-display li:nth-child(even) {background-color: rgba(62, 141, 227, .1);}

div#inv-display li img {
  width: 250px;
  height: 190px;
  object-fit: contain;
  object-position: top;
}

div#inv-display li div.namePrice {
  padding: 0 5px;
}

div#inv-item-left div.mileage {background-color: rgba(62, 141, 227, .1);}
div#inv-item-left div.mileage p {margin: 0px; padding: 1em 0;}

div#inv-item-right img { 
  max-width: 100%;
}

/***** Footer *****/
footer {
  display: inline-block;
  text-align: left;
  padding: 5px;
}

/***** wider than 600 px *****/

@media screen and (min-width: 600px) {

div#carPic img {width: auto;}

div#inv-display li {float: left; }

}

/***** wider than 823 px *****/

@media screen and (min-width: 823px) {

  body {background: #fff url('../images/site/small_check.jpg');}

  div#wrapper {
    background: #fff;
    border:5px solid #3E8DE3;
    border-radius: 5px;
    }

  div#carWrapper {
    display: flow-root;
    position: relative;}

  div#carReview {
    position: relative;
    float: right;
    }

  div#carUpgrades {
    position: relative;
    float: left;
    width: 390px;
  }

  div#inv-item-display { 
    display: flex;
  }

  div#inv-item-right { 
    max-width: 50%;
    padding-top: 20px;
  }

  div#inv-item-right img { 
    max-width: 400px;
  }

}